@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --black:#000000;
    --white:#FFFFFF;
    --purple:#8D4DDD;
    --primary-clr: var(--black);
    --secondary-clr: var(--white);
    --alt-clr:var(--purple);
    --filter: rgb(0,0,0,0.35);
}
  /* scrollbar theme */
::-webkit-scrollbar{
      width: 1.8em;
}
::-webkit-scrollbar-track{
      background-color: var(--primary-clr);
      margin-block: 0.5em;
      border-radius: 100vw;
}
::-webkit-scrollbar-thumb{
    background-color: var(--alt-clr);
    border: 0.25em solid var(--primary-clr);
    border-radius: 100vw;
}
.darkmode{
    --primary-clr: var(--white);
    --secondary-clr: var(--black);
    --alt-clr: var(--purple);
    --filter: rgb(0,0,0,0);
}
html{
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
    background-color: var(--primary-clr);
}
a{
    text-decoration: none;
}
.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
h2{
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    color: var(--secondary-clr);
    /* text-transform: uppercase; */
}
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
p{
    font-size: 1.4rem;
    font-weight: 300;
    letter-spacing: 0.05rem;
    line-height: 1.9rem;
    text-align: left;
}
/* fade in effect */
.fade-in{
    opacity: 0;
    transition: opacity 0.5s ease-in;
}
.fade-in.appear{
    opacity: 1;
}
/* move in from the side effect using slide-in class name */
.from-left{
    transform: translateX(-50%);
}
.from-right{
    transform: translateX(50%);
}
.from-left, 
.from-right{
    transition: opacity 0.5s ease-in, transform 0.5s ease-in;
    opacity: 0;
}
.from-left.appear, 
.from-right.appear{
    transform: translateX(0);
    opacity: 1;
}
.section-title{
    font-size: 4rem;
    font-weight: 300;
    /* text-transform: uppercase; */
    color: var(--secondary-clr);
    margin-bottom: 10px;
    letter-spacing: 0.2rem;
    text-align: center;
}
.section-title span{
    color: var(--purple);
}
/* button */
.cta{
    display: inline-block;
    padding: 10px 30px;
    color: var(--white);
    border: 2px solid var(--purple);
    border-radius: 20px;
    background-color: transparent;
    font-size: 2rem;
    /* text-transform: uppercase; */
    letter-spacing: 0.1rem;
    margin-top: 30px;
    transition: 0.3s ease;
    transition-property: background-color;
}
.cta:hover{
    color: var(--white);
    background-color: var(--purple);
    /* border: 2px solid white; */
}
/* header section */

#header{
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;
}
#header .header{
    min-height: 5vh;
    background-color: var(--primary-clr);
}

#header .nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    /* max-width: 1300px; */
    max-width: 100vw;
    padding: 10px 30px;
}
#header .brand h1 {
	font-size: 3rem;
	/* text-transform: uppercase; */
	color: var(--secondary-clr);
}
#header .brand h1 span {
	color: var(--purple);
}
/* dark mode toggle */
#header .checkbox{
	opacity: 0;
	position: absolute;
}
#header .label{
	background-color: var(--black);
	border-radius: 50px;
    border: 2px solid var(--purple);
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
    /* top: 50px;
    left: 10px; */
	position: relative;
	height: 26px;
	width: 50px;
	transform: scale(1.5);
    transition: background-color 0.3s linear;
}
#header .label .ball{
	background-color: var(--purple);
	border-radius: 50%;
	position: absolute;
	top: 2px;
	left: 2px;
	height: 18px;
	width: 18px;
	transform: translateX(0px);
	transition: transform 0.3s linear;
}
#header .checkbox:checked + .label .ball{
	transform: translateX(24px);
}
#header .checkbox:checked + .label{
    background-color: var(--white);
}
#header .nav-list ul{
    overflow: hidden;
    position: absolute;
    background-color: var(--primary-clr);
    width: 100vw;
    height: 100vh;
    /* set mobile nav as hidden offscreen */
    left: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    z-index: 1;
    /* make mobile nav appear smoothly */
    transition: 0.5s ease left;
}
/* make mobile nav appear when active class is applied */
#header .nav-list ul.active{
    left: 0;
}
#header .nav-list ul a {
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    padding: 20px;
    display: block;
    color: var(--secondary-clr);
}
#header .nav-list ul a::after{
    /* takes the data after value set in a link in html, to display correct word*/
    content: attr(data-after);
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    color: var(--purple);
    font-size: 15rem;
    letter-spacing: 50px;
    z-index: -1;
    transition: letter-spacing 1.0s ease, font-size 1.0s ease, transform 0.3s ease;
}
#header .nav-list ul li:hover a{
    color: var(--purple);
}
#header .nav-list ul li:hover a::after{
    /* applies the background word effect on hover */
    transform: translate(-50%,-50%) scale(1);
    letter-spacing: initial;
    font-size: 9rem;
}
#header .hamburger{
    height: 60px;
    width: 60px;
    display: inline-block;
    border: 5px solid var(--purple);
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    cursor: pointer;
    transform: scale(0.8);
    margin-right: 10px;
}
/* hamburger pusle effect */
#header .hamburger::after{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    border: 3px solid var(--purple);
    border-radius: 50%;
    animation: hamburger-pulse 3s ease infinite;
}
#header .hamburger .bar{
    height: 2.5px;
    width: 30px;
    position: relative;
    background-color:var(--purple);
}
#header .hamburger .bar::before,
#header .hamburger .bar::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    background-color: var(--purple);
    transition: 0.5s ease;
    transition-property: top, bottom;
}
#header .hamburger .bar::after{
    top: 10px;
}
#header .hamburger .bar::before{
    bottom: 10px;
}
#header .hamburger.active .bar::after{
    top: 0;
}
#header .hamburger.active .bar::before{
    bottom: 0;
}
/* end of header section */

/* hero section */
#hero{
    background-image: url(../images/Jamie_Portrait.jpg);
    background-size: cover;
    background-position: top center;
    /* clamp background to stop zooming too much */
    background-size: clamp(1200px, 80%, 2500px) auto;
    position: relative;
    z-index: 1;
}
/* colour filter effect on hero image */
#hero::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--filter);
    z-index: -1;
}
/* positioning of welcome text */
#hero .hero{
    margin: 0 auto;
    justify-content: flex-start;
    padding: 0 10vw;
}
#hero h1{
    display:block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    /* text colour before its revealed */
    color: transparent;
    /* animation for text to appear*/
    animation: text-reveal 0.5s ease forwards;
}
/* reveal text in order */
#hero h1:nth-child(1){
    animation-delay: 1.5s;
}
#hero h1:nth-child(2){
    animation-delay: 2.5s;
}
#hero h1:nth-child(3){
    /* apply different colour to alt text */
    animation: text-reveal-alt 0.5s ease forwards;
    animation-delay: 3.5s;
}
/* box to reveal h1 text */
#hero h1 span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    background-color: var(--purple);
    animation: text-reveal-box 1s ease;
    animation-delay: 1s;
}
/* span boxes to appear in order */
#hero h1:nth-child(1) span{
    animation-delay: 1s;
}
#hero h1:nth-child(2) span{
    animation-delay: 2s;
}
#hero h1:nth-child(3) span{
    animation-delay: 3s;
}
/* end of hero section */

/* about me section */
#about .about{
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 50px 0px;
}
#about .about-upper{
    width: 100%;
}
#about .about-upper p{
    /* color: black; */
    color: var(--secondary-clr);
    margin: 5px 60px;
    line-height: 2.5rem;
}
#about .cta{
    color: var(--secondary-clr);
    margin-bottom: 50px;
}
#about .cta:hover{
    color: var(--secondary-clr);
    /* border: 2px solid white; */
}
#about .about-lower{
    width: 400px;
    height: 400px;
}
#about .about-lower .about-img{
    /* sets about image above the box effect*/
    position: relative;
    height: 100%;
    width: 100%;
    border: 10px solid;
    border-color: var(--primary-clr);
}
/* box effect on about image*/
#about .about-lower .about-img::after{
    content: "";
    position: absolute;
    left: -33px; 
     top: 22px;
    height: 98%;
    width: 98%;
    border: 7px solid var(--purple);
    /* background: radial-gradient(circle, rgba(0,0,0,1) 50%, rgba(95,0,204,1) 100%); */
    z-index: -1;
    transition: transform 2s ease;
}
#about .about-lower .about-img:hover::after{
    transform: rotate(90deg);
}
/* end of about me section */

/* skills section */
#skills .skills{
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 50px 0;
}
/* //make nav a links scroll to accurate position*/
#skills-anchor{
    display: block;
    position: relative;
    top: -50px;
    /* top: 5px; */
    visibility: hidden;
}
#skills .skills-upper p{
    /* color: var(--black); */
    color: var(--secondary-clr);
    margin: 5px 60px;
    line-height: 2.5rem;
}
#skills .skills-lower{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 50px;
}
/* to divide the skills section into 2 rows */
#skills .skills-flex{
    display: flex;
    flex-direction: column;
}
#skills .skills-flex-pair{
    display: flex;
    flex-direction: column;
}
#skills .skills-item{
    display: flex;
    flex-direction: column;    
    flex-basis: 60%;
    align-items: center;
    justify-content: center;
    margin: 10px 5%;
    padding: 30px;
    /* background-image: url();
    background-size: cover; */
    border: 2px solid var(--purple);
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px var(--purple);
    transition: 0.5s ease box-shadow;
    /* sets text above the colour effect of card */
    position: relative;
    z-index: 1;
    overflow: hidden;
}
/* reduce box shadow on hover */
#skills .skills-item:hover{
    box-shadow: 0px 0px 5px 0px var(--purple);
    background-color: var(--purple);
    transition: 0.5s ease background-color;
}
/* make all skills grey when one is hovered on */
#skills .skills-lower:hover img{
    filter: grayscale(1);
    transition: 0.5s ease filter;
}
/* add colour only to the skill that is hovered on, all others remain grey */
#skills .skills-item:hover img{
    filter: grayscale(0);
}
#skills .skills-item img{
    transition: 0.5s ease filter;
}
/* colour effect on skills cards for background image*/
#skills .skills-item::after{
    content: "";
    position: absolute;
    left: 0; 
     top: 0;
    height: 100%;
    width: 100%;
    /* background-color: var(--black); */
    background: radial-gradient(circle, rgba(0,0,0,1) 50%, rgba(95,0,204,1) 100%);
    opacity: 0.8;
    z-index: -1;
}
#skills .skills-item h2{
    margin-bottom: 10px;
    color: var(--white);
}
#skills .skills-item p{
    color: var(--white);
    text-align: left;
}
/* end of skills section */

/* portfolio section */
#portfolio .portfolio{
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 50px 0;
}
/* //make nav a links scroll to accurate position*/
#portfolio-anchor{
    display: block;
    position: relative;
    top: -50px;
    /* top: 5px; */
    visibility: hidden;
}
#portfolio .portfolio-upper p{
    /* color: black; */
    color: var(--secondary-clr);
    margin: 5px 60px;
    line-height: 2.5rem;
}
#portfolio .portfolio-lower{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    margin-top: 50px;
}
#portfolio .portfolio-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    border: 2px solid var(--purple);
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px var(--purple);
    transition: 0.5s ease box-shadow;
    margin: 20px auto;
    overflow: hidden;
}
#portfolio .portfolio-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-basis: 50%;
    height: 100%;
    background-color: var(--white);
    background: radial-gradient(circle, rgba(0,0,0,1) 50%, rgba(95,0,204,1) 100%);
    color: var(--white);
    padding: 30px;
}
#portfolio .portfolio-info h1{
    font-size: 4rem;
    font-weight: 500;
}
#portfolio .portfolio-info h2{
    margin-top: 10px;
    color: var(--white);
}
#portfolio .portfolio-img{
    flex-basis: 50%;
    height: 300px;
    overflow: hidden;
    position: relative;
}
#portfolio .portfolio-img::after{
    content: "";
    position: absolute;
    left: 0; 
     top: 0;
    height: 100%;
    width: 100%;
    /* background-color: var(--black); */
    background: radial-gradient(circle, rgba(0,0,0,1) 50%, rgba(95,0,204,1) 100%);
    opacity: 0.8;
}
/* apply zoom in hover effect on image */
#portfolio .portfolio-img img{
    transition: 1s ease transform;
}
#portfolio .portfolio-item:hover .portfolio-img img{
    transform: scale(1.3);
}

#portfolio .portfolio-item:hover{
    box-shadow: 0px 0px 5px 0px var(--purple);
}
/* end of portfolio section */

/* contact me section */
#contact .contact{
    flex-direction: column;
    text-align: center;    
    max-width: 1500px;
    margin: 0 auto;
    padding: 50px 0;
}
#contact .contact-upper p{
    /* color: var(--black); */
    color: var(--secondary-clr);
    margin: 5px 60px;
    line-height: 2.5rem;
}
#contact .contact-lower{
    width: 100%%;
}
#contact .contact-item{
    width: 80%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--purple);
    border-radius: 10px;
    margin: 30px;
    padding: 30px;
    box-shadow: 0px 0px 20px 0px var(--purple);
    transition: 0.5s ease box-shadow;
    position: relative;
    z-index: 1;
}
#contact .contact-item h2, #contact .contact-item h2,p{
    color: var(--white);
}
/* stop colour of link changing after click */
#contact a{
    color: var(--black);
}
/* colour effect on contact cards for background image*/
#contact .contact-item::after{
    content: "";
    position: absolute;
    left: 0; 
     top: 0;
    height: 100%;
    width: 100%;
    /* background-color: black; */
    background: radial-gradient(circle, rgba(0,0,0,1) 50%, rgba(95,0,204,1) 100%);
    opacity: 0.8;
    z-index: -1;
}
#contact .contact-item:hover{
    box-shadow: 0px 0px 5px 0px var(--purple);
    background-color: var(--purple);
    transition: 0.5s ease background-color;
    cursor: pointer;
}
/* make all contact icons grey when one is hovered on */
#contact .contact-lower:hover img{
    filter: grayscale(1);
    transition: 0.5s ease filter;
}
/* add colour only to the contact icon that is hovered on, all others remain grey */
#contact .contact-item:hover img{
    filter: grayscale(0);
}
#contact .contact-item img{
    transition: 0.5s ease filter;
}
#contact .contact-info h2{
    margin-bottom: 5px;
}
#contact .icon{
    width: 60px;
    height: 60px;
    margin: 0 auto;
    margin-bottom: 10px;
}
/* end of contact me section */

/* footer section */
#footer{
    /* background: radial-gradient(circle, rgba(0,0,0,1) 50%, rgba(95,0,204,1) 100%); */
    background-color: var(--primary-clr);
}
#footer .footer{
    min-height: 150px;
    flex-direction: column;
}
#footer h1{
    color: var(--secondary-clr);
    font-size: 3rem;
}
#footer h2{
    color: var(--secondary-clr);
    font-weight: 500;
    font-size: 1.8rem
}
#footer .social-icon{
    display: flex;
}
#footer .social-item{
    width: 50px;
    height: 50px;
    margin: 0 auto;
    margin-top: 10px;
}
/* make icons grey and add colour on hover */
#footer .social-item img{
    filter: grayscale(1);
    transition: 0.5s ease filter;
}
#footer .social-item img:hover{
    filter: grayscale(0);
}
/* end of footer section */

/* Keyframes */
@keyframes hamburger-pulse{
    0%{
        opacity: 1;
        transform: scale(1);
    }
    100%{
        opacity: 0;
        transform: scale(2);
    }
}
@keyframes text-reveal-box{
    50%{
        width: 100%;
        left: 0;
    } 100%{
        width: 0;
        left: 100%;
    }
}
@keyframes text-reveal{
    100%{
        color: var(--white);
    }
}
@keyframes text-reveal-alt{
    100%{
        color: var(--purple);
    }
}
/* end of keyframes */

/* media queries for tablet */
@media only screen and (min-width: 768px){
    .cta{
        font-size: 2.5rem;
        padding: 20px 60px;
    }
    h1.section-title{
        font-size: 6rem;
    }
    /* hero */
    #hero h1{
        font-size: 7rem;
    }
    /* end of hero section*/

    /* about me section */

    #about .about-upper{
        padding: 30px;
    }
    #about .about-upper p{
        margin: 5px 10px;
    }
    #about .about-lower{
        width: 600px;
        height: 600px;
    }
    #about .about-lower .about-img::after{
        left: -45px;
        top: 34px;
        height: 98%;
        width: 98%;
        border: 10px solid var(--purple);
    }
    /* end of about me section */

    /* skills section */
    #skills .skills-lower .skills-item{
        flex-basis: 45%;
        margin: 2.5%;
    }
    #skills .skills-flex{
        flex-direction: row;
    }
    /* end of skills section */
    
    /* portfolio section  */
    #portfolio .portfolio-upper p{
        margin-bottom: 50px;
    }
    #portfolio .portfolio-lower{
        margin: 0 40px;
    }
    #portfolio .portfolio-item{
        flex-direction: row;
        height: 400px;
        margin: 0;
        width: 100%;
        border-radius: 0;
    }
    /* alternates every other project */
    #portfolio .portfolio-item:nth-child(even){
        flex-direction: row-reverse;
    }
    #portfolio .portfolio-lower .portfolio-info{
        height: 100%;
    }
    #portfolio .portfolio-item .portfolio-img{
        height: 100%;
    }
    /* end of portfolio section */
    
    /* contact section  */
    #contact .contact{
        flex-direction: column;
        padding: 100px 0;
        align-items: center;
        justify-content: center;
        min-height: 20vh;
    }
    #contact .contact-lower{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
        padding: 20px;
        margin: 0;
    }
    #contact .contact-item{
        margin: 20px;
        flex-direction: row;
        max-width: 290px;
    }
    #contact .contact-item .icon{
        height: 80px;
        width: 80px;
    }
    /* end of contact section */
}
/* end of media queries for tablet */

/* larger screens */
@media only screen and (min-width: 1350px){
    /* header section  */
    #header .hamburger{
        display: none;
    }
    #header .nav-list ul{
        position: initial;
        display: block;
        height: auto;
        width: fit-content;
        background-color: transparent;
    }
    #header .nav-list ul li{
        display: inline-block;
    }
    #header .nav-list ul li a{
        font-size: 1.8rem;
        transition: color 0.3s ease;   
    }
    /* remove background word effect */
    #header .nav-list ul a::after{
        display: none;
    }
    /* end of header section */
    /* skills section */
    #skills .skills-flex .skills-flex-pair{
        flex-direction: row;
    }
    #skills-anchor{
        top: 100px;
    }
    /* end of skills section */
}
/* end of larger screens */
