@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
}
a{
    text-decoration: none;
}
.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* hero section */
#hero{
    background-image: url(../images/Jamie_Portrait.jpg);
    background-size: cover;
    background-position: top center;

    /* clamp background to stop zooming too much */
    /* background-size: clamp(1500px, 70%, 3000px) auto;
    background-repeat: no-repeat; */

    position: relative;
    z-index: 1;
}
/* colour filter effect on hero image */
#hero::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color:black;
    opacity: 0.6;
    z-index: -1;
}
/* positioning of welcome text */
#hero .hero{
    /* max-width: 1200px; */
    margin: 0 auto;
    justify-content: flex-start;
    padding: 0 10vw;
}
#hero h1{
    display:block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    /* text colour before its revealed */
    color: transparent;
    /* animation for text to appear*/
    animation: text-reveal 0.5s ease forwards;
}
/* reveal text in order */
#hero h1:nth-child(1){
    animation-delay: 1.5s;
}
#hero h1:nth-child(2){
    animation-delay: 2.5s;
}
#hero h1:nth-child(3){
    /* apply different colour to alt text */
    animation: text-reveal-alt 0.5s ease forwards;
    animation-delay: 3.5s;
}
/* box to reveal h1 text */
#hero h1 span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    background-color: crimson;
    animation: text-reveal-box 1s ease;
    animation-delay: 1s;
}
/* span boxes to appear in order */
#hero h1:nth-child(1) span{
    animation-delay: 1s;
}
#hero h1:nth-child(2) span{
    animation-delay: 2s;
}
#hero h1:nth-child(3) span{
    animation-delay: 3s;
}
/* button in hero section */
#hero .cta{
    display: inline-block;
    padding: 10px 30px;
    /* color: crimson; */
    color: white;
    border: 2px solid crimson;
    /* border-radius: 20px; */
    background-color: transparent;
    font-size: 2rem;
    /* text-transform: uppercase; */
    letter-spacing: 0.1rem;
    margin-top: 30px;
    transition: 0.3s ease;
    transition-property: background-color, color;
}
#hero .cta:hover{
    color: white;
    background-color: crimson;
    /* border: 2px solid white; */
}
/* end of hero section */

/* skills section */
#skills{

}
#skills .skills{
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 0;
}
#skills .section-title{
    font-size: 4rem;
    font-weight: 300;
    /* text-transform: uppercase; */
    color: black;
    margin-bottom: 10px;
    letter-spacing: 0.2rem;
    text-align: center;
}
#skills .section-title span{
    color: crimson;
}
#skills .skills-upper p{
    font-size: 1.4rem;
    font-weight: 300;
    letter-spacing: 0.05rem;
    margin-top: 5px;
    line-height: 2.5rem;
}
#skills .skills-lower{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}
/* to divide the skills section into 2 rows */
#skills .skills-flex{
    display: flex;
    flex-direction: row;
}
#skills .skills-item{
    display: flex;
    flex-direction: column;    
    flex-basis: 80%;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 5%;
    padding: 30px;
    /* background-image: url();
    background-size: cover; */
    border: 2px solid crimson;
    border-radius: 10px;    
}
/* end of skills section */


/* Keyframes */
@keyframes text-reveal-box{
    50%{
        width: 100%;
        left: 0;
    } 100%{
        width: 0;
        left: 100%;
    }
}
@keyframes text-reveal{
    100%{
        color: white;
    }
}
@keyframes text-reveal-alt{
    100%{
        color: crimson;
    }
}